.array-container {
    /* position: absolute; */
    /* left: 200px; */
    /* top: 500px; */
    margin-top: 5rem;
}
.array-bar {
    width: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: 8px;
    background-color: rgb(240, 19, 152);
    display: inline-block;
    margin: 0 4px;
}

array-container-rVal {
}
.array-bar-rval {
    width: 20px;
    font-weight: bold;
    color: aliceblue;
    background-color: rgb(41, 19, 240);
    display: inline-block;
    margin: 0 4px;
}
